<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>롯데ON::고객센터</title>
    <th:block th:replace="/fragments/config :: configFragment"></th:block>
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
    <link rel="stylesheet" th:href="@{/cs/css/style.css}">
</head>
<body>
<div id="wrapper">

    <th:block th:replace="/fragments/csheader :: csheaderFragment"></th:block>
    <div layout:fragment="content"></div>
    <th:block th:replace="/fragments/footer :: footerFragment"></th:block>
</div>
</body>
</html>