<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.thymeleaf.org"
       layout:decorate="/my/_my_layout">
<!-- coupon -->
                <section layout:fragment="content">
                    <a href="#"><img th:src="@{/images/my/my_banner1.jpg}" alt="패션, 타운 하나로 끝" class="banner"></a>

                    <article class="latest">
                        <h3>최근주문내역</h3>
                        <a th:href="@{/my/ordered}" class="more">더보기</a>
                        <table border="0">
                            <tr>
                                <th>날짜</th>
                                <th>상품정보</th>
                                <th>상태</th>
                                <th>확인/신청</th>
                            </tr>
                            <tr th:if="${myHomeDTO.order eq null}">
                                <td colspan="4">주문 내역이 없습니다.</td>
                            </tr>
                            <tr th:each="item : ${myHomeDTO.orderList}">
                                <td class="date">
                                    <span th:text="${myHomeDTO.order.ordDate}"></span>
                                </td>
                                <td class="info">
                                    <a th:href="@{/product/view(prodNo=${item.prodNo})}" class="thumb1"><img class="thumb1" th:src="@{'/thumbs/' + ${item.thumb1}}" alt="상품이미지"></a>
                                    <ul>
                                        <li class="company"><span th:text="${item.company}"></span> </li>
                                        <li class="prodName"><span th:text="${item.prodName}"></span></li>
                                        <li class="orderNo">수량 : <span class="prodCount" th:text="${item.count}"></span>개 / 주문번호 : <a th:href="@{/my/ordered}"><span th:text="${myHomeDTO.order.ordNo}"></span></a></li>
                                        <li class="prodPrice"><span th:text="${item.priceWithComma}"></span></li>
                                    </ul>
                                </td>
                                <td class="status">
                                    <th:block th:switch="${myHomeDTO.order.ordComplete}">
                                        <span th:case="1" class="ordComplete-t1">결제완료</span>
                                        <span th:case="2" class="ordComplete-t2">결제중</span>
                                        <span th:case="3" class="ordComplete-t3">주문취소</span>
                                        <span th:case="4" class="ordComplete-t4">배송완료</span>
                                        <span th:case="5" class="ordComplete-t5">수취확인</span>
                                    </th:block>
                                </td>

                                <td class="confirm">
                                    <span class="hidden ordNo">[[${myHomeDTO.order.ordNo}]]</span>
                                    <span class="hidden prodNo">[[${item.prodNo}]]</span>
                                    <span class="hidden prodName">[[${item.prodName}]]</span>
                                    <a  th:href="@{/my/ordered}" class="receive" th:if="${myHomeDTO.order.ordComplete != 2 && myHomeDTO.order.ordComplete != 3 && myHomeDTO.order.ordComplete !=5}">수취확인</a>
                                    <a  th:href="@{/my/ordered}" class="review" th:if="${item.hasReview eq 0}">상품평</a>
                                    <!--
                                    <a href="#" class="refund">반품신청</a>
                                    <a href="#" class="exchange">교환신청</a>
                                    -->
                                </td>
                            </tr>
                        </table>
                    </article>

                    <article class="point">
                        <h3>포인트적립내역</h3>
                        <a th:href="@{/my/point}" class="more">더보기</a>
                        <table border="0">
                            <tr>
                                <th>날짜</th>
                                <th>구분</th>
                                <th>주문번호</th>
                                <th>적립금액</th>                                
                                <th>비고</th>
                                <th>유효기간</th>
                            </tr>
                            <tr th:if="${myHomeDTO.point eq null}">
                                <td colspan="6">적립된 포인트 내역이 없습니다.</td>
                            </tr>
                            <tr th:if="${myHomeDTO.point ne null}">
                                <td>
                                    <span th:text="${myHomeDTO.point.subPointDate}"></span>
                                </td>
                                <td>
                                    <span th:if="${myHomeDTO.point.revNo > 0}">
                                        리뷰 작성 적립
                                    </span>
                                    <span th:if="${myHomeDTO.point.ordNo > 0 && myHomeDTO.point.point > 0}">
                                        상품 구매 적립
                                    </span>
                                    <span th:if="${myHomeDTO.point.point < 0}">
                                        포인트 사용
                                    </span>
                                </td>
                                <td>
                                    <span th:text="${myHomeDTO.point.pointNo}"></span>
                                </td>
                                <td>
                                    <span th:text="${myHomeDTO.point.point}"></span>
                                </td>
                                <td>
                                    <span th:if="${myHomeDTO.point.ordNo > 0 && myHomeDTO.point.point > 0}">
                                        상품 구매
                                    </span>
                                    <span th:if="${myHomeDTO.point.revNo > 0 && myHomeDTO.point.point > 0}">
                                        리뷰 작성
                                    </span>
                                    <span th:if="${myHomeDTO.point.point < 0}">
                                        소진
                                    </span>
                                </td>
                                <td><span th:text="${myHomeDTO.point.subExpiredDate}"></span></td>
                            </tr>
                        </table>
                    </article>
                    <article class="review">
                        <h3>상품평</h3>
                        <a th:href="@{/my/review}" class="more">더보기</a>
                        <table border="0">
                            <tr>
                                <th>번호</th>
                                <th>상품명</th>
                                <th>내용</th>
                                <th>평점</th>
                                <th>작성일</th>
                            </tr>
                            <tr th:if="${myHomeDTO.reviewList.size() eq 0}">
                                <td colspan="5">작성된 리뷰가 없습니다.</td>
                            </tr>
                            <tr th:each="item: ${myHomeDTO.reviewList}">
                                <td>
                                    <span th:text="${item.revNo}"></span>
                                </td>
                                <td>
                                    <span th:text="${item.prodName}"></span>
                                </td>
                                <td>
                                    <span th:text="${item.content}"></span>
                                </td>
                                <td>
                                    <span class="rating" th:classappend="${'star' + item.rating}">
                                        [[${item.rating}]]
                                    </span>
                                </td>
                                <td><span th:text="${item.subRDate}"></span></span></td>
                            </tr>
                        </table>
                    </article>

                    <article class="qna">
                        <h3>문의내역</h3>
                        <a href="#" class="more">더보기</a>
                        <table border="0">
                            <tr>
                                <th>번호</th>
                                <th>문의유형</th>
                                <th>제목</th>
                                <th>작성일</th>
                                <th>상태</th>
                            </tr>
                            <tr th:if="${myHomeDTO.qnaList.size() eq 0}">
                                <td colspan="6">
                                    작성된 문의글이 없습니다.
                                </td>
                            </tr>
                            <tr th:each="item : ${myHomeDTO.qnaList}">
                                <td>
                                    <span th:text="${item.qnaNo}"></span>
                                </td>
                                <td>
                                    <span th:text="${item.c1Name + '::' +item.c2Name}"></span>
                                </td>
                                <td>
                                    <span th:text="${item.title}"></span>
                                </td>
                                <td>
                                    <span th:text="${item.rdateSub}"></span>
                                </td>
                                <td><span class="answered">
                                    <span th:if="${item.answerComplete eq 1}">
                                        검토중
                                    </span>
                                    <span th:if="${item.answerComplete eq 2}">
                                        답변완료
                                    </span>
                                </span></td>
                            </tr>
                        </table>
                    </article>

                    <article class="myinfo">
                        <h3>확인해주세요!</h3>

                        <div>
                            <div class="address">
                                <span>기본 배송지설정</span>
                                <a href="#" class="setting">변경</a>
                            </div>
                            <div class="email">
                                <span>email 설정</span>
                                <a href="#" class="setting">변경</a>
                                <p>
                                    <span th:text="${myHomeDTO.member.email}"></span><br/>
                                    <!-- (최종수정일 <span>2021-12-10</span>)-->
                                </p>
                            </div>
                            <div class="hp">
                                <span>휴대폰 설정</span>
                                <a href="#" class="setting">변경</a>
                                <p>
                                    <span th:text="${myHomeDTO.member.hp}"></span><br/>
                                   <!-- (최종수정일 <span>2021-12-10</span>)-->
                                </p>
                            </div>
                        </div>


                    </article>

                </section>

</html>