<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.thymeleaf.org"
       layout:decorate="/member/_layout.html">

<div class="find findId" layout:fragment="content">
    <script th:src="@{/member/js/validation.js}"></script>
    <script th:src="@{/member/js/authEmail.js}"></script>
    <script>
        $(function(){


            $('.findIdResult').click(function(e){

                e.preventDefault; // 우선 a태그 기능을 막아야지!


         //       if(isEmailOk){

                    $('#formFindId').submit();

//                }else{
                    alert('이메일 인증을 수행하십시오');
  //              }
            });
        });
    </script>
    <nav>
        <h1>비밀번호 찾기</h1>
    </nav>

    <form id="formFindId" th:action="@{/member/findPassChange}" method="POST">
        <input type="hidden" name="type" value="FIND_PASS"/>
        <table border="0">
            <caption>비밀번호 찾기-이메일 인증</caption>
            <tr>
                <th>아이디</th>
                <td><input type="text" name="uid" placeholder="아이디 입력"/></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td>
                    <div>
                        <input type="email" name="email" placeholder="이메일 입력"/> <!-- disabled 삭제 -->
                        <button type="button"  id="btnEmailCode" class="btnAuth">인증번호 받기</button>
                        <span class="resultEmailForPass"></span>
                    </div>
                    <div>
                        <input type="text" name="auth" placeholder="인증번호 입력"/>
                        <button type="button" id="btnEmailAuth" class="btnConfirm">확인</button> <!-- type="button" submit으로 수정 -->
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <p>
                회원가입시 이메일 주소와 입력한 이메일 주소가 같아야, 인증번호를 받을 수 있습니다.<br>
                인증번호를 입력 후 확인 버튼을 누르세요.
            </p>
        </div>
        <div class="btnArea">
            <a th:href="@{/member/login}" class="loginPg">뒤로 가기</a>
            <a href="#" class="findIdResult">비밀번호 변경</a>
        </div>
    </form>


</div>
</html>