<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="topLogoFragment">
    <div class="top">
        <div>
            <th:block sec:authorize="isAnonymous()">
                <a th:href="@{/member/login}">로그인</a>
                <a th:href="@{/member/join}">회원가입</a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <th:block sec:authorize="hasAnyRole('ADMIN', 'MANAGER','SELLER')">
                    <a th:href="@{/admin/index}">관리자</a>
                </th:block>
                <a th:href="@{/member/logout}">로그아웃</a>
                <a th:href="@{/my/home}">마이페이지</a>
                <a th:href="@{/product/cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
            </th:block>
        </div>
    </div>
    <div class="logo">
        <div>
            <a th:href="@{/cs/index}"><img th:src="@{/images/header_logo.png}" alt="로고" />고객센터</a>
        </div>
    </div>
</th:block>


</html>