<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<!--myAsideFragment 선언 -->
<th:block th:fragment="myTopMenuFragment">
    <nav>
        <div>
            <a th:href="@{/my/home}"><img th:src="@{/images/my/my_logo.jpg}" alt="나의쇼핑정보"></a>
            <ol>
                <li><a th:href="@{/my/ordered}">주문·배송<span class="delivery">[[${myTopMenu.orderNowCount}]]</span></a></li>
                <li><a th:href="@{/my/coupon}">할인쿠폰<span class="coupon">1</span></a></li>
                <li><a th:href="@{/my/point}">포인트<span class="point">[[${myTopMenu.point}]]</span></a></li>
                <li><a th:href="@{/my/qna}">문의내역<span class="qna">[[${myTopMenu.myQnaCount}]]</span></a></li>
            </ol>
        </div>
    </nav>
</th:block>
</html>