<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.thymeleaf.org"
       layout:decorate="/admin/admin_layout">
<!-- modify -->
<section id="admin-product-register" layout:fragment="content">
    <nav>
        <h3>상품수정</h3>
        <p>
            HOME > 상품관리 > <strong>상품수정</strong>
        </p>
    </nav>
    <!-- 상품수정 컨텐츠 시작 -->
    <article>
        <form id="formModify" th:action="@{/admin/product/modify}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="seller" th:value="seller">
        <!-- 상품분류 -->
        <section>
            <h4>상품분류</h4>
            <p>
                기본분류는 반드시 선택하셔야 합니다. 하나의 상품에 1개의 분류를 지정 합니다.
            </p>
            <table>
                <tr>
                    <td>1차 분류</td>
                    <td>
                        <select id="selectBox" required name="prodCate1" onchange="changeSelect()">
                            <option value="" disabled selected>1차 분류 선택</option>
                            <th:block th:each="pCate1 : ${pCate1List}">
                                <option th:value="${pCate1.cate1}" th:text="${pCate1.c1Name}"></option>
                            </th:block>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>2차 분류</td>
                    <td>
                        <select id="cate2" required name="prodCate2">
                            <option value="" disabled selected>2차 분류 선택</option>
                        </select>
                    </td>
                </tr>
            </table>
        </section>

        <!-- 기본정보 -->
        <section id="asdf">
            <h4>기본정보</h4>
            <p>
                기본정보는 반드시 입력해야 합니다.
            </p>
            <table>
                <tr>
                    <td>상품명</td>
                    <td><input type="text" name="prodName" th:value="${ltProductDTO.prodName}"/></td>
                </tr>
                <tr>
                    <td>기본설명</td>
                    <td>
                        <span>상품명 하단에 상품에 대한 추가적인 설명이 필요한 경우에 입력</span>
                        <input type="text" name="descript" th:value="${ltProductDTO.descript}"/>
                    </td>
                </tr>
                <tr>
                    <td>제조사</td>
                    <td><input type="text" name="company" th:value="${ltProductDTO.company}"/></td>
                </tr>
                <tr>
                    <td>판매가격</td>
                    <td>
                        <input style="text-align: right" type="text" name="priceFromUser" th:value="${ltProductDTO.price}"/>원
                        <input class="nocommaPR" style="text-align: right" type="text" name="price" th:value="0"/>
                    </td>
                </tr>
                <tr>
                    <td>할인율</td>
                    <td>
                        <span>0을 입력하면 할인율 없음</span>
                        <input style="text-align: right" type="text" name="discount" th:value="${ltProductDTO.discount}"/>%
                    </td>
                </tr>
                <tr>
                    <td>포인트</td>
                    <td>
                        <span>0을 입력하면 포인트 없음</span>
                        <input style="text-align: right" type="text" name="pointFromUser" th:value="${ltProductDTO.point}"/>점
                        <input class="nocommaP" style="text-align: right" type="text" name="point" th:value="0"/>
                    </td>
                </tr>
                <tr>
                    <td>재고수량</td>
                    <td>
                        <input style="text-align: right" type="text" name="stockFromUser" th:value="${ltProductDTO.stock}"/>개
                        <input class="nocommaS" style="text-align: right" type="text" name="stock" th:value="0"/>
                    </td>
                </tr>
                <tr>
                    <td>배송비</td>
                    <td>
                        <span>0을 입력하면 배송비 무료</span>
                        <input style="text-align: right" type="text" name="deliveryFromUser" th:value="${ltProductDTO.delivery}"/>원
                        <input class="nocommaD" style="text-align: right" type="hidden" name="delivery" th:value="0"/>
                    </td>
                </tr>
                <tr>
                    <td>상품 썸네일</td>
                    <td>
                        <span>크기 190 x 190, 상품 목록에 출력될 이미지 입니다. </span>
                        <input type="text" th:value="${ltProductDTO.thumb1}" readonly>
                        <input type="file" name="fileThumb1"/>

                        <span>크기 230 x 230, 상품 메인에 출력될 이미지 입니다. </span>
                        <input type="text" th:value="${ltProductDTO.thumb2}" readonly>
                        <input type="file" name="fileThumb2"/>

                        <span>크기 456 x 456, 상품 상세에 출력될 이미지 입니다. </span>
                        <input type="text" th:value="${ltProductDTO.thumb3}" readonly>
                        <input type="file" name="fileThumb3"/>
                        <input type="hidden" name="oName" class="oName"/> <!--수정 시 원래 이름-->
                    </td>
                </tr>
                <tr>
                    <td>상세 상품정보</td>
                    <td>
                        <span>크기 가로 940px 높이 제약없음, 크기 최대 1MB, 상세페이지 상품정보에 출력될 이미지 입니다.</span>
                        <input type="text" th:value="${ltProductDTO.detail}" readonly>
                        <input type="file" name="fileDetail"/>
                    </td>
                </tr>
            </table>
        </section>

        <!-- 상품정보 제공 고시 -->
        <section>
            <h4>상품정보 제공고시</h4>
            <p>
                [전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록해야 되는 정보입니다.
            </p>
            <table>
                <tr>
                    <td>상품상태</td>
                    <td><input type="text" name="status" th:value="${ltProductDTO.status}"/></td>
                </tr>
                <tr>
                    <td>부가세 면세여부</td>
                    <td><input type="text" name="duty" th:value="${ltProductDTO.duty}"/></td>
                </tr>
                <tr>
                    <td>영수증발행</td>
                    <td><input type="text" name="receipt" th:value="${ltProductDTO.receipt}"/></td>
                </tr>
                <tr>
                    <td>사업자구분</td>
                    <td><input type="text" name="bizType" th:value="${ltProductDTO.bizType}"/></td>
                </tr>
                <tr>
                    <td>원산지</td>
                    <td><input type="text" name="origin" th:value="${ltProductDTO.origin}"/></td>
                </tr>
            </table>
        </section>

        <input type="submit" value="등록하기"/>
        </form>
    </article>

    <p class="ico alert">
        <strong>Warning!</strong>
        전자상거래 등에서의 상품 등의 정보제공에 관한 고시에 따라 총 35개 상품군에 대해 상품 특성 등을 양식에 따라 입력할 수 있습니다.
    </p>
    <!-- 상품등록 컨텐츠 끝 -->
</section>

</html>