<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>롯데ON::롯데 온라인 쇼핑몰</title>
  <th:block th:replace="/fragments/config :: configFragment"></th:block>
  <script th:src="@{/js/index.js}"></script>
  <script>
    $(function(){
      $('#bannerTop .btnClose').click(function(){
        $(this).closest('#bannerTop').removeClass('on');
      });
    });
  </script>
</head>
<body>
<div id="bannerTop" class="on" style="background: #e4dfdf;">
  <article>
    <a href="#"><img th:src="@{/images/topBanner1.png}"/></a>
    <button class="btnClose">close</button>
  </article>
</div>
<div id="wrapper">
  <th:block th:replace="/fragments/searchHeader :: headerFragment"></th:block>
  <main id="member">
    <th:block th:replace="/fragments/aside :: asideFragment"></th:block>
    <div layout:fragment="content"></div>
  </main>
  <th:block th:replace="/fragments/footer :: footerFragment"></th:block>
</div>
</body>
</html>